$lime: #65F3AC;
$grey: #E2E2E2;
$white: #EAEAEA;
$text: #A2A4A3;
$primary: #25262A;
$secondary: #2D2F33;
$input: #2F3335;
// Path: _footer.scss
body {
    background-color: $secondary;
}

//MIXINS
@mixin underline( $width: 100%, $height: 3px) {
    position: relative;
    &:after {
        position: absolute;
        content: " ";
        height: $height;
        width: $width;
        border-radius: 5px;
        background-color: $lime;
        bottom: -5px;
        left: 0;
    }
}

// Modal
:root{
    --primary: #65f3ac;
    --white: #ffffff;
    --hover: #60c090;
  }
  
  body{
    font-family: montserrat;
  }

  .sticky-top{
    z-index:2;
  }
  .modal-container{
    visibility: hidden;
    display: grid;
    border-radius: 10px;
    background: linear-gradient(rgba(45, 47, 51,0.5), rgba(45, 47, 51,0.5)) padding-box, linear-gradient(135deg, rgba(128, 128, 128,0.5), rgba(45, 47, 51,0.5)) border-box;
    border-radius: 10px;
    border: 2px solid transparent;
    color: #EAEAEA;
    font-family: Montserrat;;
    backdrop-filter:blur(10px);
    width: 80%;
    position: fixed;
    transition: 0.25s;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 5;
    transform: translate(-50%,-50%) scale(0.5);
    box-sizing: border-box;
  }
  .modal-container.show-modal-container{
    display: grid;
    visibility: visible;
    max-height: 500px;
    overflow-y:auto;
    transform: translate(-50%,-50%) scale(1);

    opacity:1;
  }
  
  .splide__slide{
    display:flex;
  }

  .modal-left {
    /* background-color: red; */
    width: 100%;
    display:flex;
    position: relative;
  }
  
  .modal-heading{
    margin-top:15px;
  }
  
  .modal-sub-heading{
    font-size: 0.8rem;
    color:var(--primary);
    font-weight: bold;
  }
  .about{
    margin: 30px 0px 15px;
  }
  
  
  .modal-right{
    color:var(--white);
    display: flex;
    padding: 40px 50px;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .modal-description{
    line-height: 30px;
    font-size: 0.85rem;
    margin-bottom:40px;
  }
  .slide-img {
    height: 100%;
    width: 100%;
    margin:0 auto;
    max-height:300px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
  }
  
  /* __________________________________________________________________________________________ */
  
  .close-button {
    position:absolute;
    right:10px;
    background-color: $lime;
    padding:12px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
  
  .event-info-container{
    font-size: 0.85rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 15px;
    font-weight: bold;
  }
  
  .event-info{
    color:var(--primary);
  }
  
  .info-container{
    display: flex;
      justify-content: space-between;
  }
  
  .modal-button{
    background: #65f3ac;
      border: none;
      padding: 10px 24px;
      font-size: 14px 24px;
      font-family: "Montserrat" !important;
      font-weight: 600;
      border-radius: 3px;
      display: flex;
      margin-top: 30px;
      justify-content: space-between;
  }
  
  
  @media (min-width: 900px) {
    .modal-container {
      grid-template-columns: repeat(2, 1fr);
      max-height: unset !important;
      .slide-img{
        max-width:500px;
        max-height: 500px;
      }
    }
  }
  


// change navbar color
.navbar {
    background-color: #25262a !important;
    border-bottom: 3px solid #65f3ac;
    padding: 0.5rem 50px;
    .container-fluid {
      padding: 0;
    }
    .navbar-toggler {
      padding: 0;
    }
    .navbar-toggler:focus {
      box-shadow: none;
    }
  }
  
  // change navbar color
  .navbar .navbar-nav .nav-link {
    color: #fff;
  }
  
  // change nav brand color with first letter red
  
  .navbar .navbar-brand {
    color: #fff !important;
    font-weight: 700;
    font-size: 1.8rem;
  }
  
  .navbar .navbar-brand::first-letter {
    color: #65f3ac;
  }
  
  // Change active link color with underline
  
  .navbar .navbar-nav .nav-link.active {
    color: #65f3ac;
    font-weight: bold;
    border-bottom: 3px solid #65f3ac;
  }
  
  .navbar .navbar-nav .nav-link {
    margin-right: 1.6rem;
  }
  
  .navbar .navbar-nav .nav-link.link-last {
    margin-right: 0;
  }
  // change icon of .navbar-toggler-icon
  
  .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='257.000000pt' height='238.000000pt' viewBox='0 0 257.000000 238.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,238.000000) scale(0.100000,-0.100000)'%0Afill='%2365F3AC' stroke='none'%3E%3Cpath d='M398 2091 c-122 -24 -148 -198 -41 -268 26 -17 78 -18 978 -18 l950%0A0 33 23 c85 61 83 192 -5 249 -26 17 -79 18 -953 19 -509 1 -942 -1 -962 -5z'/%3E%3Cpath d='M370 1328 c-102 -52 -107 -196 -10 -253 34 -20 50 -20 680 -20 606 0%0A648 1 673 18 89 58 89 196 0 254 -25 17 -70 18 -663 21 l-635 2 -45 -22z'/%3E%3Cpath d='M704 590 c-324 -5 -343 -6 -364 -25 -78 -71 -62 -201 30 -247 31 -15%0A75 -17 365 -18 368 0 377 1 422 69 56 83 7 208 -87 222 -14 2 -179 2 -366 -1z'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
  
  // change the color of the navbar-toggler-icon when it is clicked
  .navbar .navbar-toggler-icon:focus {
    background-color: red;
  }
//event title and dates
.sub-nav {
    display: flex;
    color: white;
    justify-content: space-between;
    font-weight: 600;
    margin: 30px auto;
    align-items: center;
}

.nav_head {
    font-size: 20px;
}

.nav_head::after {
    display: block;
    content: ' ';
    border-radius: 12px;
    width: 100%;
    height: 3px;
    background: #65F3AC;
}

.inner_head {
    display: flex;
    justify-content: space-evenly;
    font-weight: normal;
}

.inner_text {
    margin: 0 3px;
    cursor: pointer;
    &:first-child {
        margin-right: 20px;
    }
    &.active {
        font-weight: bold !important;
        color: #65F3AC !important;
    }
}

.team-area {
    padding: 0 50px 50px;
}

//title end
// -->
//card begin 
.card-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    row-gap: 3rem;
}

.card {
    border-radius: 10px;
    background: linear-gradient($secondary, $secondary) padding-box, linear-gradient(135deg, grey, $secondary) border-box;
    border-radius: 10px;
    border: 2px solid transparent;
    color: $white;
    display: flex;
    min-width: 300px;
    flex-direction: column;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    justify-content: space-evenly;
    padding: 30px 10%;
    height: 100%;
    width: 100%;
    &:hover {
        transition: all 0.5s ease;
        box-shadow: 3px 3px 30px rgba(101, 243, 172, 0.1);
    }
    .card-img-cover {
        height: 200px;
        width: 100%;
        background-color: #3e3e3e;
        border-radius: 5px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 5px;
        }
    }
    .event-content {
        margin: 25px 0;
        margin-bottom: 0;
        h3 {
            font-size: 1.25rem;
            font-weight: 700;
            display: inline;
            margin: 0;
            @include underline(50%, 3px);
        }
        p {
            font-size: 1rem;
            color: #bfbfbf;
            font-weight: normal;
            margin: 20px 0 0;
            color: $text;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-height: 35px;
            -webkit-box-orient: vertical;
        }
        .visit-button {
            border-radius: 5px;
            padding: 1px 10px;
            background-color: $lime;
            margin: 20px 0 0;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                color: $secondary;
                font-weight: bold;
                font-size: 0.75rem;
                margin: 0;
            }
        }
    }
}

//my code color
//my code Ends
//card ending
//--->
//media queries
@media screen and (min-width: 600px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
        gap: 3rem !important;
        .card {
            max-width: 500px;
            margin: auto;
        }
    }
}


/* Tablet view :) */

@media screen and (min-width: 700px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
}

@media screen and (min-width: 980px) {
    .navbar{
        padding:0.5em 100px;
    }
    .team-area {
        padding: 0 100px 50px;
    }
}

// Desktop View
@media screen and (min-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        gap: 3rem !important;
    }
}

// Path: _event.scss
@import 'footer';