@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// variables
$lime: #65F3AC;
$grey: #E2E2E2;
$text: #A2A4A3;
$primary: #25262A;
$secondary: #2D2F33;

// Hero Section
.btn {
    background: $lime;
    border: none;
    padding: 15px 60px 15px 30px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
    }
}

.banner {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    background-color: $primary;

    .grid-container {
        position: relative;
        z-index: 2;
        width: 100%;
        display: grid;

        .content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 30px;
            width: 100%;

            h2 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                color: #E2E2E2
            }

            h1 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                color: $lime;
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                color: #A2A4A3;
                width: 100%;
            }
        }

        .banner-image {
            display: none;
        }
    }
}

// Scroll button
.scroll {
    position: absolute;
    bottom: 5px;
    left: 50%;
    right: 50%;

    a#scroll-btn {
        width: 15px;
        height: 35px;
        border: 1px solid #51555E;
        background: #51555E;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2.25em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 3em;
    }

    a#scroll-btn:before {
        position: absolute;
        content: "";
        margin: auto;
        // left: 0px;
        // right: 4.5px;
        bottom: 1.30em;
        height: 13px;
        width: 100%;
        background-color: $lime;
        border-radius: 50%;
        animation: move-down 2s infinite;
    }

    @keyframes move-down {
        80% {
            opacity: 0.5;
        }

        100% {
            transform: translateY(1.3em);
            opacity: 0;
        }
    }
}

#bgtext1,
#bgtext2 {
    display: none;
}

@media only screen and (min-width: 600px) {
    .banner {
        height: 100vh;
        padding: 0 114px;

        a#scroll-btn {
            width: 22px;
            height: 44px;
            left: 0;
            right: 0;
            bottom: 2.25em;
            display: flex;
            justify-content: center;
        }

        a#scroll-btn:before {
            // left: 0.20px;
            bottom: 1.25em;
            height: 20px;
            width: 22px;
        }

        .content {

            h2,
            h1 {
                font-size: 40px !important;
            }

            p {
                font-size: 18px !important;
            }
        }
    }

    .grid-container {
        grid-template-columns: 40% 60%;
    }

    #bgtext1 {
        display: block;
        position: absolute;
        left: 114px;
        top: 150px;
        z-index: 1;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 165px;
        opacity: 0.02;
        color: $lime;
    }

    #bgtext2 {
        display: block;
        position: absolute;
        right: 300px;
        top: 330px;
        z-index: 1;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 165px;
        opacity: 0.02;
        color: $lime;
    }
}

// Hero Section End