@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// variables
$lime: #65F3AC;
$grey: #E2E2E2;
$text: #A2A4A3;
$primary: #25262A;
$secondary: #2D2F33;


nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 20px 114px;
    background: $primary;
    border-bottom: 3px solid $lime;

    .logo {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        color: #FFFFFF;

        span {
            color: $lime;
        }
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 500px;

        li {
            list-style: none;
            display: inline-block;

            #active {
                color: $lime;
                border-bottom: 3px solid $lime;
            }

            a {
                color: #FFFFFF;
                text-decoration: none;
                font-family: 'Red Hat Display';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
            }
        }
    }
}

.btn {
    background: $lime;
    border: none;
    padding: 15px 60px 15px 30px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.banner {
    height: 100vh;
    position: relative;
    z-index: 1;
    font-family: 'Montserrat';
    background: $primary;

    .grid-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        position: absolute;
        display: grid;
        max-height: max-content;
        grid-template-columns: 50% 50%;

        .content {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
            padding-left: 114px;

            .banner-title {
                font-weight: 700;
                font-size: 40px;
                line-height: 65px;

                h2 {
                    color: $grey;
                }

                h1 {
                    color: $lime;
                }
            }

            p {
                width: 70%;
                font-weight: 500;
                font-size: 18px;
                line-height: 35px;
                color: $text;
            }
        }
    }
}

// Scroll button
.scroll {
    position: absolute;
    bottom: 5px;
    left: 50%;

    a#scroll-btn {
        width: 22px;
        height: 44px;
        border: 1px solid #51555E;
        background: #51555E;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2.25em;
        text-align: center;
        border-radius: 3em;
    }

    a#scroll-btn:before {
        position: absolute;
        content: "";
        margin: auto;
        left: 0px;
        right: 4.5px;
        bottom: 1.25em;
        height: 1.2em;
        width: 1.2em;
        background-color: $lime;
        border-radius: 100%;
        animation: move-down 2s infinite;
    }

    @keyframes move-down {
        80% {
            opacity: 0.5;
        }

        100% {
            transform: translateY(1.3em);
            opacity: 0;
        }
    }
}

@media (min-width: 600px) {
    .grid-container {
        .banner-image {
            display: none;
        }
    }
}

// Contact us Section
.contact_us {
    height: 851px;
    background: $secondary;
    padding: 48px 114px 0;

    .contact_heading {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: $grey;
        text-align: center;
    }

    .underline {
        width: 75px;
        height: 5px;
        background-color: $lime;
        border-radius: 12px;
        margin: 17px 0 74px;
    }

    form {
        text-align: center;
    }
}

// Footer Section
footer {
    height: 200px;
    width: 100%;
    background: $primary;
    padding: 47px 114px 0;

    .social_link {
        display: flex;
        justify-content: center;

        .sm_container {
            width: 34px;
            height: 34px;
            border-radius: 3px;
            background: $lime;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 13px;

            img {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .nav_links {
        display: flex;
        justify-content: center;
        padding: 34px 0 0;

        ul {
            list-style: none;
            display: flex;

            li {
                a {
                    text-decoration: none;
                    color: $text;
                    width: 62px;
                    height: 20px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                    letter-spacing: 0.01em;
                    margin: 0 15px;
                }
            }
        }
    }

    .copyright {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: $text;
        text-align: center;
        padding: 34px 0 0;

        span {
            color: $lime;
        }
    }
}

// Contact us Section
.contact_us {
    height: 851px;
    background: $secondary;
    padding: 48px 114px 0;

    .contact_heading {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: $grey;
        text-align: center;
    }

    .underline {
        width: 75px;
        height: 5px;
        background-color: $lime;
        border-radius: 12px;
        margin: 17px 0 74px;
    }

    form {
        text-align: center;
    }
}

// Footer Section
footer {
    height: 200px;
    width: 100%;
    background: $primary;
    padding: 47px 114px 0;

    .social_link {
        display: flex;
        justify-content: center;

        .sm_container {
            width: 34px;
            height: 34px;
            border-radius: 3px;
            background: $lime;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 13px;

            img {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .nav_links {
        display: flex;
        justify-content: center;
        padding: 34px 0 0;

        ul {
            list-style: none;
            display: flex;

            li {
                a {
                    text-decoration: none;
                    color: $text;
                    width: 62px;
                    height: 20px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                    letter-spacing: 0.01em;
                    margin: 0 15px;
                }
            }
        }
    }

    .copyright {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: $text;
        text-align: center;
        padding: 34px 0 0;

        span {
            color: $lime;
        }
    }
}