@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// variables
$lime: #65f3ac;
$grey: #e2e2e2;
$white: #eaeaea;
$text: #a2a4a3;
$primary: #25262a;
$secondary: #2d2f33;
$input: #2f3335;
$error: #e05a5a;
// Scrollbar styling
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $primary;
}
::-webkit-scrollbar-thumb {
  background: $lime;
}

// Text selection
::selection {
  background: $lime;
  color: $secondary;
}






// Hero Section

.btn {
  position: relative;
  display: inline-block;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  background-color: #65f3ac;
  padding: 10px 30px;
  transition: 0.5s;
  border: none;
  border-radius: 0px;
  box-shadow: 30px 30px 30px #2d2f33;
}

.btn:hover {
  color: #65f3ac !important;
  background-color: #2d2f33;
  letter-spacing: 3px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 30px 30px 30px rgba(101, 243, 172, 0.04);
}

.btn span {
  position: absolute;
  display: block;
  background-color: #65f3ac;
}

.btn span:nth-child(1) {
  left: 0;
  top: 0;
  width: 50.5%;
  height: 1.5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.btn:hover span:nth-child(1) {
  transform: scaleX(1);
  transform-origin: right;
}

.btn span:nth-child(2) {
  right: 0;
  top: 0;
  width: 50.5%;
  height: 1.5px;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.4s;
}

.btn:hover span:nth-child(2) {
  transform: scaleY(1);
  transform-origin: left;
}

.btn span:nth-child(3) {
  right: 0;
  top: 0;
  height: 100%;
  width: 1.5px;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform 0.4s;
  transition-delay: 0.4s;
}

.btn:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
}

.btn span:nth-child(4) {
  left: 0;
  top: 0;
  height: 100%;
  width: 1.5px;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform 0.4s;
  transition-delay: 0.4s;
}

.btn:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: top;
}

.btn span:nth-child(5) {
  left: 0;
  bottom: 0;
  width: 50.5%;
  height: 1.5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s;
  transition-delay: 0.8s;
}

.btn:hover span:nth-child(5) {
  transform: scaleX(1);
  transform-origin: left;
}

.btn span:nth-child(6) {
  right: 0;
  bottom: 0;
  width: 50.5%;
  height: 1.5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.4s;
  transition-delay: 0.8s;
}

.btn:hover span:nth-child(6) {
  transform: scaleX(1);
  transform-origin: right;
}

.button {
  background: $lime;
  border: none;
  padding: 10px 24px;
  font-size: 16px;
  text-decoration: none;
  color: #25262a;
  font-family: "Montserrat" !important;
  font-weight: 600;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
    color: #25262a;
  }
  .arrow {
    margin-left: 10px;
  }
}


.banner {
  position: relative;
  height: 60vh;
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  background-color: $primary;

  .banner-title {
    margin-bottom: 25px;
  }
  .grid-container {
    position: relative;
    z-index: 2;
    width: 100%;
    display: grid;

    .content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      max-width: 500px;

      h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        color: #e2e2e2;
      }

      h1 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        color: $lime;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 40px;
        line-height: 30px;
        color: #a2a4a3;
        width: 100%;
      }
    }

    .banner-image {
      display: none;
    }
  }
}

// Scroll button
.scroll {
  position: absolute;
  bottom: 5px;
  left: 50%;
  right: 50%;

  a#scroll-btn {
    width: 15px;
    height: 35px;
    border: 1px solid #51555e;
    background: #51555e;
    text-align: center;
    position: relative;
    border-radius: 3em;
    display: block;
    margin: 10px auto;
  }

  a#scroll-btn:before {
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    bottom: 1.3em;
    height: 13px;
    width: 100%;
    background-color: $lime;
    border-radius: 50%;
    animation: move-down 2s infinite;
  }

  @keyframes move-down {
    80% {
      transform: translateY(1.3em);
    }

    100% {
      transform: translateY(0);
    }
  }
}

#bgtext1,
#bgtext2 {
  display: none;
}

// Hero Section End

// Navbar
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat !important;
}

// change navbar color
.navbar {
  background-color: #25262a !important;
  border-bottom: 3px solid #65f3ac;
  padding: 0.5rem 50px;
  .container-fluid {
    padding: 0;
  }
  .navbar-toggler {
    padding: 0;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}

// change navbar color
.navbar .navbar-nav .nav-link {
  color: #fff;
}

// change nav brand color with first letter red

.navbar .navbar-brand {
  color: #fff !important;
  font-weight: 700;
  font-size: 1.8rem;
}

.navbar .navbar-brand::first-letter {
  color: #65f3ac;
}

// Change active link color with underline

.navbar .navbar-nav .nav-link.active {
  color: #65f3ac;
  font-weight: bold;
  border-bottom: 3px solid #65f3ac;
}

.navbar .navbar-nav .nav-link {
  margin-right: 1.6rem;
}

.navbar .navbar-nav .nav-link.link-last {
  margin-right: 0;
}
// change icon of .navbar-toggler-icon

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='257.000000pt' height='238.000000pt' viewBox='0 0 257.000000 238.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,238.000000) scale(0.100000,-0.100000)'%0Afill='%2365F3AC' stroke='none'%3E%3Cpath d='M398 2091 c-122 -24 -148 -198 -41 -268 26 -17 78 -18 978 -18 l950%0A0 33 23 c85 61 83 192 -5 249 -26 17 -79 18 -953 19 -509 1 -942 -1 -962 -5z'/%3E%3Cpath d='M370 1328 c-102 -52 -107 -196 -10 -253 34 -20 50 -20 680 -20 606 0%0A648 1 673 18 89 58 89 196 0 254 -25 17 -70 18 -663 21 l-635 2 -45 -22z'/%3E%3Cpath d='M704 590 c-324 -5 -343 -6 -364 -25 -78 -71 -62 -201 30 -247 31 -15%0A75 -17 365 -18 368 0 377 1 422 69 56 83 7 208 -87 222 -14 2 -179 2 -366 -1z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

// change the color of the navbar-toggler-icon when it is clicked
.navbar .navbar-toggler-icon:focus {
  background-color: red;
}

// Our clubs section

.card {
  border-radius: 10px;
  background: linear-gradient(#2d2f33, #2d2f33) padding-box,
    linear-gradient(135deg, grey, #2d2f33) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-weight: 600;
  justify-content: space-evenly;
  padding: 35px;
  height: fit-content;
  width: 100%;
  margin: 0 0 50px;
  
 
  
  .card-img {
    width: 100%;
    background-color: $input;
  }
  .card-content {
    margin: 15px 0 0;
    .card-heading-container {
      display: flex;
      margin: 10px 0 0;
    }
    .card-heading {
      font-weight: 600;
      font-size: 1.25em;
      margin-right: 20px;
      &::after {
        content: "";
        display: block;
        width: 50%;
        height: 3px;
        background-color: $lime;
        border-radius: 5px;
        margin-top: 5px;
      }
    }
    .circle {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $lime;
      border-radius: 50%;
      color: #25262a;

      img{
        width: 20px;
        height: 20px;
      }
    }
    .card-description {
      font-weight: normal;
      color: #bfbfbf;
      font-size: 1em;
      margin-top: 20px;
      line-height: 35px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .view-more {
      background-color: $lime;
      padding: 10px 24px;
      color: #25262a;
      margin-top: 20px;
      border-radius: 5px;
      font-weight: bold;
    }
  }
}

.our_club {
  padding: 50px 30px;
  background-color: $secondary;
  .card:not(:nth-child(1)) {
        display: none;
  }
  .club_navigator{
    margin: 0 0 30px;
  }
  .club_button {
    border-radius: 10px;
    background: linear-gradient(#2d2f33, #2d2f33) padding-box,
      linear-gradient(135deg, grey, #2d2f33) border-box;
    border-radius: 10px;
    border: 2px solid transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1em;
    justify-content: space-evenly;
    padding: 14px;
    margin: 0px 0 20px;
    position: relative;
    width: 100%;
    
    .club_icon {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: none;
      background-color: $lime;

      img{
        width: 22px;
        height: 22px;
      }
    }
    .club_name{
        font-size: 14px;
    }
    .pointer {
      display: none;
    }
  }
  .club_button.active {
    background-color: $secondary;
    border: 2px solid $lime;
    .pointer {
      display: block;
      width: 0;
      height: 0;
      border: 16px solid transparent;
      border-top: 0;
      border-bottom: 16px solid $lime;
      left: 50%;
      transform: rotate(180deg) translateX(50%);
      position: absolute;
      bottom:-18px;
    }
  }
  .our_club_heading {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: $grey;
    text-align: center;
  }
  .club_navigator {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    gap: 20px;
  }
  .club_button {
    display: block;
  }

  .underline {
    width: 40px;
    height: 5px;
    background-color: $lime;
    border-radius: 12px;
    margin: 11px auto 42px;
  }
  .card-img {
    min-height: 250px;
  }
}

// What we do Section
.what_we_do {
  padding: 50px 30px;
  background-color: #26282b;
  display: grid;
  .wwd_heading {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: $grey;
    text-align: center;
  }
  .card {
    padding: 30px;
    .card-content {
      margin: 0;
    }
  }
}

.underline {
  width: 40px;
  height: 5px;
  background-color: $lime;
  border-radius: 12px;
  margin: 11px auto 42px;
}
//mobile friendly code - completed
// Contact us Section
.contact_us {
  background: $secondary;
  padding: 50px 30px;

  .contact_heading {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: $grey;
    text-align: center;
  }

  .form {
    max-width: 768px;
    margin: 0 auto;
    .form_group {
      display: flex;
      flex-direction: column;
    }

    .form_box {
      padding: 15px 30px 20px;
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;
      margin: 20px auto;
      //border-gradient
      background: linear-gradient($secondary, $secondary) padding-box,
        linear-gradient(135deg, grey, #363636) border-box;
      border-radius: 10px;
      border: 2px solid transparent;

      .input {
        width: 100%;
        background-color: $input;
        border: none;
        outline: none;
        display: block;
        border-radius: 5px;
        padding: 10px 15px;
        color: $grey;
      }

      .input:focus {
        outline: 1.5px solid $lime;
        color: $lime;
      }

      label {
        font-size: 0.85rem;
        margin-bottom: 10px;
        font-weight: 500;
        color: $grey;
      }
    }
    .submit {
      margin: 30px auto 0;
    }

    .input-error {
      font-size: 14px;
      color: $error;
      display: block;
      margin-top: 10px;
    }
  }
}

//mobile friendly code - completed
// Footer Section
footer {
  background: $primary;

  .social_link {
    display: flex;
    justify-content: center;

    .sm_container {
      width: 34px;
      height: 34px;
      border-radius: 3px;
      background: $lime;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 20px 10px;

      img {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .nav_links {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    ul {
      list-style: none;
      display: flex;
      padding: 0;

      li {
        a {
          text-decoration: none;
          color: $text;
          width: 62px;
          height: 20px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.01em;
          margin: 13px 15px;
        }
        .first_link {
          margin-left: 0;
        }
        .last_link {
          margin-right: 0;
        }
      }
    }
  }

  .copyright {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $text;
    text-align: center;
    padding: 10px;

    span {
      color: $lime;
    }
  }
}

// Hero section

@media only screen and (min-width: 600px) {
  .banner {
    height: 90vh;
    .banner-title {
      margin-bottom: 30px;
    }
    a#scroll-btn {
      width: 22px;
      height: 44px;
    }

    a#scroll-btn:before {
      height: 20px;
      width: 20px;
    }

    .content {
      h2,
      h1 {
        font-size: 40px !important;
      }

      p {
        font-size: 18px !important;
        margin-bottom: 60px !important;
      }
    }
  }

  #bgtext1 {
    display: block;
    position: absolute;
    left: 114px;
    top: 150px;
    z-index: 1;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 165px;
    opacity: 0.02;
    color: $lime;
  }

  #bgtext2 {
    display: block;
    position: absolute;
    right: 300px;
    top: 330px;
    z-index: 1;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 165px;
    opacity: 0.02;
    color: $lime;
  }
}

@media screen and(min-width: 600px) {
    .our_club .club_navigator{
        display: flex;
        justify-content: space-between;
      }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-nav .nav-link {
    margin-left: 2em !important;
  }
}

@media screen and (min-width: 768px) {
  .form_group {
    flex-direction: row !important;
    gap: 30px;
  }
  .whatwedo_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }
  
}

@media screen and (min-width: 980px) {
  .navbar,
  .banner {
    padding: 0.5em 100px;
  }
  .our_club {
    padding: 50px 100px;
    .card {
      background: unset;
      padding: 0;
    }
    .club_button{
        display: flex;
        padding: 30px;
        .club_icon{
            display: block;
        }
        .club_name{
            font-size: 1.2rem;
        }
    }
    //card area
    .club_button.active .pointer{
        width: 0;
        height: 0;
        border: 16px solid transparent;
        border-top: 0;
        left:unset;
        top:40%;
        right:-35px;
        border-bottom: 16px solid $lime;
        transform: rotate(90deg) translateY(50%);
        position: absolute;
      }
  }

  .club_container {
    display: grid;
    grid-template-columns: 30% auto;
    gap: 60px;
    .club_navigator {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 20px;
    }
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-image {
    display: block !important;
    img {
      width: 100%;
    }
  }
  .what_we_do {
    padding: 50px 100px;
  }
  .whatwedo_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
//Navbar Ends
